body {
  color: #172b4d;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 600;
  line-height: 20px;
  padding: 50px;
  text-align: center;
  background-image: url(../img/fon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.modal {
  position: fixed;
  width: 400px;
	margin-top: 10%;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
  border: #172b4d 3px solid;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: flex;
  flex-direction: column;
	pointer-events: auto;
}

.hidden {
	display: flex;
	pointer-events: auto;
}

.input {
  width: 80%;
  height: 25px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 30px;
  text-align:center;
}

.controlModal {
  width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.okModal {
  background-color: rgb(39, 145, 104);
  color: #ffffff;
  width: 100px;
  padding: 10px;
  margin-top:10px;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}


.chat_login_error {
  position: absolute;
  width: 300px;
  box-sizing: border-box;
  background-color: brown;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}

.chat {
  display: none;
}

.chat_main {
  display: flex;
  align-items: flex-start;
}

.chat_members {
  width: 250px;
  margin-top: 30px;
  border: 2px solid #190055;
  border-right: none;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.chat_members_list {
  list-style: none;
  padding-left: 0px;
  font-size: 14px;
}

.chat_member {
  position: relative;
  margin: 12px 5px 0px 20px;
  padding-left: 25px;
}

.chat_member::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -14px;
  background: #8FD4C1;
  height: 25px;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
}

.chat_member_you {
  color: brown;
  font-weight: bold;
}

.chat_member_you::before {
  background: #88011e;
}

.chat_window {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  height: 550px;
  border: 2px solid #190055;
  border-radius: 20px;
  background-image: url(../img/fon2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.chat_messages {
  width: 560px;
  height: 410px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  overflow: auto;
}

.chat_message {
  padding: 10px;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: left;
  border: 2px solid black;
  background-color: white;
}

.chat_message_container {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
  color: #000000;
  padding: 3px 5px;
  border-radius: 5px;
  border: 2px black dotted;
}

.chat_message_you {
  margin-left: auto;
  text-align: right;
  margin-bottom: 10px;
  width: fit-content;
  background-color: #91e7bc;
  border: 2px solid black;
  color: #000000;
}

.chat_message_nickname::after {
  content: '🙂';
  margin-left: 7px;
  margin-right: 7px;
}

.chat_message_text {
  font-size: 14px;
}

.chat_input {
  width: 560px;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 30px;
  border-radius: 5px;
  font-size: 18px;
}

.chat_system_message {
  margin: 5px 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(199, 211, 228, 0.808);
  color: #080000;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
